################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyGarden.Application.Commands/bin/Debug/netstandard2.0
